body {
	font-family: Arial, sans-serif; /* Setting font */
	margin: 0;
	padding: 0;
}

header {
	background-color: lightblue; /* Setting background color */
	color: #fff; /* Setting font color */
	display: flex; /* Setting display */
	justify-content: space-between; /* Setting alignment */
	align-items: center; /* Setting alignment */
	padding: 20px;
}

nav ul {
	list-style: none; /* Removing bullet points from list */
	margin: 0;
	padding: 0;
	display: flex; /* Setting display */
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff; /* Setting font color */
	text-decoration: none; /* Removing underline from link */
}

#my-work {
	margin: 50px;
    color: whitesmoke;
    background-color: lightblue;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    flex-direction: column;
}

.project {
	margin-bottom: 50px;
    background-image: url("../assets/images/flower.png");;
	background-size: cover; /* Setting background size to cover entire section */
	background-position: center center; /* Setting background position to center */
	color: #fff;
	padding: 50px;
}



div {
    background-size: cover;
    width: 400px;
    height: 400px;
    display: flexbox;
  }
  

.project h3 {
	font-size: 24px;
	margin-bottom: 10px;
    justify-content: center;
    flex-direction: row;
}

.project p {
	font-size: 20px;
	margin-bottom: 20px;
    text-align: center;
}

.project img {
	max-width: 100%;
	height: auto;
	border-radius: 5%;
    margin: 0 auto;
    text-align: center;
}
#about-me {
    padding: 50px 0;
    background-color: white;
    color: lightblue;
    max-width: 1300px;
    height: 80px;
    text-align: center;
    display: flex;
  }
  
  
  .contact-me {
    max-width: auto;
    margin: auto ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;

  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }


  